@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\e9da";
}

.icon-like:before {
  background-image: url("../img/ic_heart_16px.png");
}

.icon-like {
  background-image: url("../img/ic_heart_16px.png");
}

.icon-watch:before {
  content: "\e602";
}

html {
  background: #eeeeee;

}

body {
  background: #eeeeee;

}

#content-scroller{
  overflow: visible;
}

md-toolbar button.md-button.md-icon-button:first-child {
  margin-left: 0px;
  margin-right: 16px;
}

md-toolbar button.md-button.md-icon-button:first-child md-icon {
  color: white;
}

md-content {
  background: #eeeeee;
  position: relative;
}

.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#summary {
  margin: 32px 72px;
}

.card {
  background: white;
  min-width: 100px;
  /*min-height: 100px;*/
  max-width: 400px;
  margin: 8px;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  -webkit-transform: scale(0.75) translate3d(0, 200px, 0);
  transform: scale(0.75) translate3d(0, 200px, 0);
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.angular-grid-item {
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
}

.card .img {
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-color: #ccc;
}

.card .inside {
  padding: 16px;
  word-wrap: break-word;
}

.card .inside h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card .inside a {
  color: #E91E63;
  text-decoration: none;
}

.card .inside a:hover {
  text-decoration: underline;
}

.card .inside .description {
  font-size: 14px;
  line-height: 1.3;
  color: #555;
}

.cards-wrap {
  margin: 32px 64px;
  padding-bottom: 64px;
  position: relative;
}

.loading-more-indicator {
  text-align: center;
}

.loading-more-indicator md-progress-circular {
  -webkit-transform: scale(1);
  transform: scale(1);
  display: inline-block;
}

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}
 
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

/*.dynamic-grid {
    position: relative;
    display: none;
}

.dynamic-grid.angular-grid{
    display: block;
}

.grid {
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    overflow: hidden;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}*/


*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.md-whiteframe-z2 {
  background-color: #16a085 !important;
}

.loading-more-indicator {
  color: #16a085 !important;
}

md-dialog {
  min-width: 700px !important;
  max-height: 100% !important;
}

md-toolbar {
  background-color: #26A69A !important;
}

.img-desc-wrap {
  padding: 10px;
}
.img-desc-wrap .title {
  font-size: 18px;
  line-height: 22px;
  color: #00BCD4 !important;
}
.img-desc-wrap .uploaded-date {
  margin-top: 5px;
  font-size: 14px;
  color: #999;
}
.img-desc-wrap .likes-watch-wrap {
  margin-top: 10px;
}
.img-desc-wrap .likes,
.img-desc-wrap .watch {
  display: inline-block;
  margin-right: 20px;
}

.searchBox {
  /*margin-top: 100px;*/
  margin-left: 50px;
}

.searchContainer {
  width: 100%;  
}

.searchInput {
  border-color: transparent;
  /*padding-top: 20px;*/
  height: 25px;
  padding-left: 10px;
  outline: none;
}

md-chips {
  width: 900px !important;
}

.md-chips .md-chip-input-container {
  /*width: 800px !important;*/
}

.md-chips .md-chip-input-container md-autocomplete input {
  color: white !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cac0c0 !important;
}

.ng-scope {
  color: teal;
}

.md-button.md-accent.md-raised {
  background-color: white !important;
}

md-chips .md-chip.md-focused {
  background-color: black !important;
}

md-chips .md-chip {
  background: white !important;
}

.ng-isolate-scope {
  color: rgba(199, 61, 61, 0.87) !important;
}